<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Mapper 인터페이스와 연결 : 패키지명 + 인터페이스명 (끝부분 띄어쓰기 안됨 주의!) -->
<mapper namespace="edu.kh.project.member.mapper.MemberMapper">
	
	<!-- 
	[Tip]
	parameterType 속성은 필수로 작성하지 않아도 괜찮다
	-> Mybatis TypeHandler 가 파라미터의 타입을 알아서 판별할 수 있음!!!	
	
	* 단 resultType 은 필수로 작성!!! (DQL)*
	 -->

	<!-- 로그인 -->
	<!-- Member == 별칭 (DBConfig 참고) -->
	<select id="login"
			parameterType="string"
			resultType="Member">
	  	SELECT 
		  	MEMBER_NO, 
		  	MEMBER_EMAIL, 
		  	MEMBER_NICKNAME, 
		  	MEMBER_PW,
			MEMBER_TEL, 
			MEMBER_ADDRESS, 
			PROFILE_IMG, 
			AUTHORITY,
			TO_CHAR(ENROLL_DATE, 
				'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND   MEMBER_DEL_FL = 'N'
	
	</select>
	<!-- MEMBER_DEL_FL = 'N' -> 탈퇴하지 않은 회원 == 정상 회원-->


<!-- dbconfig 에서 별칭 등록 해두었기 때문에 Member 로 써도 무방 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO "MEMBER"
		VALUES(
			SEQ_MEMBER_NO.NEXTVAL, 
			#{memberEmail}, 
			#{memberPw},
			#{memberNickname}, 
			#{memberTel}, 
			#{memberAddress}, 
			NULL, DEFAULT, DEFAULT, DEFAULT)
	 </insert>
	 
	 <!-- 이메일 중복 검사 -->
	 <select id="emailCheck"
	 		 resultType="_int">
	 	SELECT COUNT(*)
	 	FROM "MEMBER"
	 	WHERE MEMBER_EMAIL = #{email}
	 	AND   MEMBER_DEL_FL = 'N'		 
	 </select>
	 
	 
	 <!-- 닉네임 중복 검사 -->
	 <select id="nicknameCheck"
	 		 resultType="_int">
	 	SELECT COUNT(*)
	 	FROM "MEMBER"
	 	WHERE MEMBER_NICKNAME = #{nickname}
	 	AND   MEMBER_DEL_FL = 'N'		 
	 </select>

</mapper>
